{% capture align %}align-{{ include.align | default: "center" }}{% endcapture %}
{% if include.caption %}
<figure class="{{ align }}">
  <img class="{{ align }}" src="{{ include.src | absolute_url }}" alt="{{ include.caption }}" {% if include.width %}width="{{ include.width }}"{% endif %} {% if include.height %}height="{{ include.height }}"{% endif %}/>
  <figcaption class="{{ align }}">{{ include.caption }}</figcaption>
</figure>
{% else %}
<img class="{{ align }}" src="{{ include.src | absolute_url }}" alt="{{ include.alt }}" {% if include.width %}width="{{ include.width }}"{% endif %} {% if include.height %}height="{{ include.height }}"{% endif %}/>
{% endif %}
