{% capture align %}align-{{ include.align | default: "center" }}{% endcapture %}

{%- if include.src -%}
  {% assign src = include.src %}
{%- elsif include.name -%}
  {% capture src %}assets/img/posts/{{ page.title | slugify }}/{{ include.name }}{% endcapture %}
{%- endif -%}

{% if include.caption %}
<figure class="{{ align }}">
  <img class="{{ align }}" src="{{ src | absolute_url }}" alt="{{ include.caption }}" {% if include.width %}width="{{ include.width }}"{% endif %} {% if include.height %}height="{{ include.height }}"{% endif %}/>
  <figcaption class="{{ align }}">{{ include.caption }}</figcaption>
</figure>
{% else %}
<img class="{{ align }}" src="{{ src | absolute_url }}" alt="{{ include.alt }}" {% if include.width %}width="{{ include.width }}"{% endif %} {% if include.height %}height="{{ include.height }}"{% endif %}/>
{% endif %}
