// Placeholder to allow customizing styles.
@font-face {
    font-family: 'RIDIBatang';
    src: url('/assets/fonts/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
