// Fonts
$base-font-family:  Roboto, "Noto Sans SC", "Noto Sans TC" !default;
$reading-font-family: "Roboto Slab", "Noto Serif SC", "Noto Serif TC" !default;
$code-font-family:  "Roboto Mono" !default;
$display-font-family: Lobster, "ZCOOL QingKe HuangYou" !default;
$handwriting-font-family: "Dancing Script", "Ma Shan Zheng" !default;
$base-font-size:    18px !default;
$base-line-height:  1.4 !default;

// Layouts
$spacing-unit:      2rem !default;
$content-width:     1200px !default;

$on-small:          600px !default;
$on-medium:         900px !default;
$on-large:          1200px !default;
