// Fonts
$base-font-family:  "Open Sans" !default;
$title-font-family: "Dancing Script" !default;
$reading-font-family: Roboto !default;
$code-font-family:  Inconsolata !default;
$base-font-size:    18px !default;
$base-line-height:  1.4 !default;

// Layouts
$spacing-unit:      2rem !default;
$content-width:     900px !default;

$on-small:          500px !default;
$on-medium:         750px !default;
$on-large:          900px !default;
