<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
  </head>

  <body>

    <header class="site-header">
      {% include header.html %}
    </header>
    
    <div class="site-body">
      <aside class="site-sidebar">
        {% include sidebar.html %}
      </aside>
      <main class="site-main" aria-label="Content">
        {{ content }}
      </main>
    </div>
    
    <footer class="site-footer">
      {% include footer.html %}
    </footer>

  </body>

</html>
